html, body, header {
  margin: 0;
  padding: 0;
  background-color: #0077be;
}

nav {
  width: 100%;
  height:87px;
  background-color: black;
  -webkit-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
}

.navigation {
  display: inline-block;
  float: right;
}

.navigation a {
  font-family: 'Open Sans', sans-serif;
  padding: 1em 1em;
  font-size: 26px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  color: #fff
}

.navigation a:hover  {
  color: #ccc;
  transform: translate(3px,3px);
}

.line {
  position: absolute;
  display: inline-block;
  width: 2px;
  height: 86px;
  background-color: gray;
}

.logo {
  display: inline-block;
  float: left;

  padding: 0.9em 2em;
}

.logo .name {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  color: #fff;
  display: inline-block;
}

.logo .title {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding: 0 5em;
  color: lightgray;
}
